@media print {

    @page {
        size: A4 portrait;
        margin: 10mm;
    }

    body {
        background: white !important;
    }

    .home-buttons,
    .buttons,
    button {
        display: none !important;
    }

    .pdf-hide {
        display: none !important;
    }

    #electricalForm,
    #plumbingForm {
        display: block !important;
    }

    .qty-input {
        border: none !important;
        background: transparent !important;
        width: 50px;
        text-align: center;
    }

    input {
        color: black !important;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    tr {
        page-break-inside: avoid;
    }

    #electricalForm {
        margin-bottom: 10px;
    }

    #plumbingForm {
        margin-top: 10px;
    }
}
