@media print {

    .pdf-hide {
        display: none !important;
    }

    .home-buttons,
    .buttons {
        display: none !important;
    }

    @page {
        size: A4 portrait;
        margin: 10mm;
    }
}
